.Search {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 0.5em;
  opacity: 0;
  animation-name: visible;
  animation-duration: 0.25s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.Search-Message {
  text-align: center;
  margin-bottom: -20px;
  animation-name: message;
  animation-duration: 0.5s;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
}

.Search-Container {
  background-color: #292c30;
  border-radius: 5px;
}

.Search-Form {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.Search-Form > input {
  height: 12px;
  width: 380px;
  padding: 10px;
  margin-right: 20px;
  border: none;
  outline: none;
  background-color: #222429;
  border-radius: 4px;
  color: inherit;
}

.Search-Form > input::-webkit-input-placeholder {
  color: white;
}

.Search-Form > input::-moz-placeholder {
  color: white;
}

.Search-Form > input::-ms-input-placeholder {
  color: white;
}

.Search-Form > input::placeholder {
  color: white;
}

.Search-Form > svg {
  cursor: pointer;
  transform: rotate(-360deg);
  transition: transform 0.5s ease;
}

.Search-Form > svg.active {
  transform: rotate(-180deg);
  transition: transform 0.5s ease;
}

.Search-Results-Sort {
  padding: 0 18px;
}

.Search-Results {
  padding-left: 18px;
}

.Search-Results-Item {
  display: flex;
  list-style: none;
  padding: 5px 0 5px 15px;
  opacity: 0;
  animation-name: visible;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.Search-Results-Item > img {
  height: 20px;
  width: 20px;
  border-radius: 5px;
}

.Search-Results-Item > span {
  line-height: 20px;
  margin-left: 10px;
}

.Search-Results-Item > span:last-child {
  font-size: 0.75em;
  color: grey;
}

.Search-Close {
  text-align: center;
  margin-top: 25px;
}

button {
  border: 1px solid white;
  border-radius: 5px;
  background: transparent;
  padding: 5px 10px;
  color: inherit;
  font-size: 0.8em;
}

button.sort {
  border: none;
}

@keyframes visible {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes message {
  from { margin-bottom: -20px; }
  to { margin-bottom: 25px; }
}
